*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins','sans-serif';
}

.wrapper{
    background-image: url('images/gradient-bg.jpg');
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
    background-size: cover;
}

.game-info{
    border: 1px solid rgba(255, 255, 255, 0.15);
    background-color: rgba(255, 255, 255, 0.15);
    padding: 10px 50px;
    border-radius: 10px;
    color: white;
    font-style: bold;
}

.tic-tac-toe{
    width: 90%;
    max-width: 20rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    border: 1px solid rgba(255, 255, 255, 0.15);
    background-color: rgba(255, 255, 255, 0.15);
    padding: 3rem;
    border-radius: 1rem;
    aspect-ratio: 1/1;
}

.box{
    position: relative;
    cursor: pointer;
    width: 100%;
    aspect-ratio: 1/1;
    font-size: 3rem;
    color: white;
    display: flex;
    justify-items: center;
    align-items: center;
    
}

.box-1, .box-2, .box-4, .box-5{
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.box-3, .box-6{
    border-bottom: 2px solid white;
}
.box-7, .box-8{
    border-right: 2px solid white;
}

.btn{
    border: 1px solid rgba(255, 255, 255, 0.15);
    background-color: rgba(255, 255, 255, 0.15);
    color: white;
    padding: 0.8rem 3rem;
    border-radius: 1rem;
    font-weight: bold;
    /* display: none; */
}
 .btn.active{
    display: flex;
 }

 .win{
    background-color: rgba(0,255,0,0.3);
 }